@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <select id="method">
        <option value="get">GET</option>
        <option value="post">POST</option>
        <option value="put">PUT</option>
    </select>
    <button type="button" class="btn btn-info" onclick="sendRequest()">Try it</button>
    <p><output id="value1"></output></p>
</div>

@section scripts {
    <script>
    // TODO: Replace with the URL of your CorsAPI
    var serviceUrl = 'http://localhost:32390/api/test';

    function sendRequest() {
        var method = $('#method').val();

        $.ajax({
            type: method,
            url: serviceUrl
        }).done(function (data) {
            $('#value1').text(data);
        }).error(function (jqXHR, textStatus, errorThrown) {
            $('#value1').text(jqXHR.responseText || textStatus);
        });
    }
    </script>
}